html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1 0 auto;
  max-width: 800px;
}

.title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 40px;
  font-weight: 600;

  .ing-title {
    color: #007bff;
    font-weight: 300;
  }
}

.results_data,
.results_positive,
.icon-container,
.search_prev,
.search_next {
  display: none;
}

.results_data {
  max-width: 80vw;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.search_prev,
.search_next {
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.search_prev {
  margin-right: 10px;
}

.input-group {
  margin: 10px 0 20px;
}

#btn_submit {
  cursor: pointer;
}

.icon-container i {
  color: #007bff;
  margin: 20px;
}

.thumb-container {
  width: 10rem;
}

