body {
  font-family: 'Muli', sans-serif;
}

.results_data,
.results_positive,
.icon-container,
.search_prev,
.search_next {
  display:none;
}

.search_prev,
.search_next {
  margin-top: 15px;
  margin-bottom: 30px;
}

.input-group {
  margin: 10px 0 20px;
}